body{
    background-color: #0599EE;
    color: #ffffff;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

button{
    padding: 5px 20px;
    background-color: #ffffff;
    border-style: none;
}

input{
    height: 20px;
}
